/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222222;
    line-height: 1.6;
}

/* MENU */
header {
    background-color: #111827;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.logo {
    color: white;
}

.menu {
    display: flex;
    gap: 25px;

    list-style: none;
}

.menu a {
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #60a5fa;
}


/* =========================================
   INÍCIO
========================================= */

.inicio {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background-color: #111827;
    color: white;
}

.inicio-conteudo {
    width: 1100px;
    max-width: 90%;
    margin: auto;
}

.saudacao {
    color: #60a5fa;
    font-size: 20px;
    margin-bottom: 5px;
}

.inicio h1 {
    font-size: 60px;
    margin-bottom: 5px;
}

.inicio h2 {
    font-size: 30px;
    color: #aaaaaa;
    margin-bottom: 20px;
}

.inicio-conteudo > p {
    max-width: 600px;
}

.botao {
    display: inline-block;

    margin-top: 30px;
    padding: 12px 25px;

    background-color: #2563eb;
    color: white;

    text-decoration: none;

    border-radius: 6px;

    font-weight: bold;
}

.botao:hover {
    background-color: #1d4ed8;
}

.foto {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 50%;
    background-color: lightskyblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
}

.sobre-texto h3 {
    font-size: 25px;
}

.sobre-texto p {
    margin-bottom: 15px;
}

/*SEÇÕES COM FUNDO DIFERENTE */

.secao-destaque {
    max-width: 100%;
    background-color: #f5f5f5;
}

.secao-destaque > * {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* HABILIDADES */

.lista-habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.habilidade {
    background-color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 2px 8px black;
}

.habilidade:hover {
    transform: translateY(-3px);
}

/* PROJETOS */

.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}   

.projeto-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 12px black;
    transition:  0.3s;
}

.projeto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px black;
}

.projeto-numero {
    font-size: 35px;
    font-weight: bold;
    color: #2563eb;
    margin-bottom: 15px;
}

.projeto-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.projeto-card p {
    color: gray;
    margin-bottom: 20px;
}

/* TECNOLOGIAS UTILIZADAS */

.tecnologias {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tecnologias span {
    background-color: aliceblue;
    color: #1d4ed8;
    padding:  5px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

/* Link do Projeto */

.link-projeto {
    color: #2563eb;
    text-decoration: none;
    font-weight: bold;
}

.link-projeto:hover {
    text-decoration: underline;
}


/* ==============================================================
    CONTATO
    ================================================ */


.contato-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contato-item {
    background-color: antiquewhite;
    width: 280px;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px black;
}

.contato-item h3 {
    color: #1d4ed8;
    margin-bottom: 5px;
}

/* =======================================================
        RODAPÉ
        ============================= */

    footer {
        background-color: #111827;
        color: #cccccccc;
        text-align: center;
        padding: 30px;
    }

    /* ================================================
            RESPONSIVIDADE 
     ============================== */
